* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url(images/donation4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.content {
    width: 90%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: beige;
}

.content h1 {
    font-size: 60px;
    margin-top: 80px;

}

.content p {
    margin: 20px auto;
    font width: 100;
    height: 20px;

}



.style-btn {
    display: inline-block;
    text-decoration: none;
    color: wheat;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    paddion: 10px 40px;
    cursor: pointer;
    font-weight: 700;
}

.donete-section {
    width: 60%;
    margin: 0 auto;

}

.donate-main h1 {
    font-size: 45px;
    text-align: center;
    color: #000;
    margin-top: 100px;

}

.donate-main p {
    font-size: 22px;
    text-align: center;
    color: #000;

}

.donate-sub {
    display: flex;
    max-width: 0 auto;
    vertical-align: center;
}

.sub-1 p {
    text-align: center;
    padding: 35px 25px;
    background-color: rgb(243, 243, 243);
    margin-right: 8px;
    border-radius: 5px;
    font-size: 20px;
}


p.highlighter {
    border: 3px solid #0077b6;
    color: #0077b6;
    background: #0076b641;
    font-weight: bold;

}

.input-area {
    width: 45%;
    margin: 0 auto;
}

input[type=text] {
    padding: 12px 130px;
    margin: 8px 0;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(209, 207, 207);
    margin-bottom: 30px;

}

.button-donate {
    margin-left: 47%;
    padding: 15px 25px;
    background-image: linear-gradient(#0077b6, #00b4d8);
    color: #fff;
    border-radius: 50px;

}

.donate-plan h1 {
    margin-top: 100px;
    font-size: 45px;
    text-align: center;
    color: #000;
}

.donate-plan p {
    font-size: 22px;
    text-align: center;
    color: #000;
}



.donate-last {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.inner-grid1 {
    width: 30%;
    background-color: #00b4d8;
    margin-left: 5px;
    padding: 40px 20px;
    border-radius: 5px;
}

.inner-grid2 {
    width: 30%;
    background-color: #48cae4;
    margin-left: 5px;
    padding: 40px 20px;
    border-radius: 5px;
}

.inner-grid3 {
    width: 30%;
    background-color: #90e0ef;
    margin-left: 5px;
    padding: 40px 20px;
    border-radius: 5px;
}

.inner-mode img {
    height: 60px;
    width: 60px;
}

.ourmission {
    margin-top: 100px;
    display: flex;
    background-image: url(images/world-bg.png);
    background-repeat: no-repeat;
}

.ourmission-left {
    width: 45%;
    margin-top: 7%;
    padding-left: 10%;
}

.ourmission-left h1 {
    font-size: 45px;
}

.ourmission p {
    font-size: 18px;
}

.ourmission-right {
    width: 45%;
    margin-top: 70px;
    padding-left: 10%;
}

.subscription h1 {
    font-size: 45px;
    text-align: center;
    color: #000;
    margin-top: 100px;

}

.subscription p {
    font-size: 22px;
    text-align: center;
    color: #000;


}

.subscription p {
    font-size: 18px;
}

input[type=email] {
    padding: 12px 60px;
    margin: 8px 0;
    border: 1px solid #90e0ef;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(236, 236, 236);
}


input[type=button] {
    background-image: linear-gradient(#0077b6, #00b4d8);
    border: none;
    color: white;
    padding: 13px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: -10px;
    border-radius: 0px 5px 5px 0px;

}

::placeholder {
    color: rgb(202, 202, 202);
    opacity: 9;
    font-size: 15px;
    text-align: center;
}

.sub-bottom {
    background-color: #00b4d83b;
    padding-top: 5%;
    padding-bottom: 3%;
    border-radius: 5px;
    margin-bottom: 50px;
}

.footer-bottom {
    text-align: center;
    background: #00b4d8;
    padding: 30px;
}